
.aboutlayout{
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px 35px 1fr 45px ;
    grid-template-areas:
    "hd"
    "page"
    "otbox"
    "ft" ;
    }
.outerbox{
    grid-area: otbox;
    display: grid;
    background-color: #EDD8C5;
    justify-content: center;
    border: #EDD8C5 solid 2px;
    grid-template-columns: 100%;
       grid-template-areas:
       "imbox"
       "cobox" 
       
     ;


}
.contbox{
    grid-area: cobox;
    display: flex;
    flex-direction: column;
    padding: 50px 50px;
    gap: 50px;
    font-size: 14px;
    font-family: "Coming Soon", cursive;
    border: #EDD8C5 solid 2px;
}
.imgbox{
    grid-area: imbox;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 10px;
    border: #8f8882 solid 2px;
}
#para1{
    border-bottom: #8f8882 dotted 1px;
}
#para2{
    border-bottom: #8f8882 dotted 1px;
}
#para3{
    border-bottom: #8f8882 dotted 1px;
}
#para4{
    color:#5E4C6E;
   
}
#avatar{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
    border-radius: 60%;
    border:#5E4C6E solid 4px ;
   
}
.whyme{
    text-align:center;
    font-family: "Dancing Script", cursive;
}
.whylist{
    font-family: "Coming Soon", cursive;  
}

/** medium screen**/
@media (min-width:768px) {
    .aboutlayout{
        display: grid;
       
        grid-template-columns: 150px 300px;
        grid-template-rows: 150px 1fr 65px ;
        grid-template-areas:
        "hd hd hd hd hd hd hd hd"
        "page otbox otbox otbox otbox otbox otbox otbox "
        "ft ft ft ft ft ft ft ft" ;
    }
}

/** Large Screen**/
    
@media (min-width:1024px){

    .aboutlayout{
        display: grid;
       
        grid-template-columns: 300px 600px;
        grid-template-rows: 200px 1fr 65px ;
        grid-template-areas:
        "hd hd hd hd hd hd hd hd"
        "page otbox otbox otbox otbox otbox otbox otbox "
        "ft ft ft ft ft ft ft ft" ;
    }
    .contbox{
       
        font-size: 20px;
      
    }
    .fontresize{
        font-size: 20px;
    }
}